{% extends 'base.html' %}
{% load filters %}
{% block content %}
<!--인플루언서 트위터 리스트 출력-->
<div class="container mt-4 p-0">
    <div style="height:50px; line-height:50px;" class="text-white bg-secondary rounded-top pl-2">
        <strong>Influencer Twitter</strong>
    </div>
</div>
<div class="container">
    {% for twitter_url in twitter_urls %}
    {% if forloop.counter0|remainder:3 == 0 %}
    <div class="row d-flex p-0">
        {% endif %}
        <div class="col-sm-4 border">
            <a class="twitter-timeline w-100" data-height="500"
               href="https://twitter.com/{{ twitter_url }}">A Twitter List by {{ twitter_url }}</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% if forloop.counter0|remainder:3 == 2 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<!--인플루언서 트위터 리스트 출력 끝-->
{% endblock %}