{% extends 'base.html' %}
{% load filters %}
{% block content %}
<!--detail 페이지 시작-->
<div class="container clearfix p-0">
    <div class="d-inline-block mt-3 pl-0 col-sm-9 float-left detail">
        {% include 'coin/detail.html' %}
    </div>
    <div class="d-inline-block col-sm-3 mt-3 float-right p-0 min-vh-100 list">
        {% include 'coin/list.html' %}
    </div>
    <div class="twitter col-sm-3 float-left mt-3 p-0">
        {% include 'twitter/detail.html' %}
    </div>
    <div class="article float-left col-sm-6 mt-3">
        {% include 'article/detail.html' %}
    </div>
</div>
<!--detail 페이지 끝-->
{% endblock %}
{% block script %}
<script type="text/javascript">
/* 등락에 따른 색 변경 함수 */
(function($) {
    $.fn.setColor = function () {
        $(".prices").each(function (index, item) {
            if($(this).find(".change_price").text().replace(/,/g, "") >= 0) {
                $(this).find(".updown").remove();
                $(this).find("p:first").before("<p class='d-inline updown small'>▲</p>");
                $(this).find("*").addClass("text-danger");
            }
            else {
                $(this).find(".updown").remove();
                $(this).find("p:first").before("<p class='d-inline updown small'>▼</p>");
                $(this).find("*").addClass("text-primary");
            }
        })
    };
}(jQuery));
/* 최초 페이지 로드 완료 시 리스트 가장 위 코인 클릭 */
$(document).ready(function(){
    $(".coin_container:first").click();
});
/* 못했음 ㅜㅜ
function autoRefresh_div()
{
    var target_coin = $(".target").text();
    $.ajax({
        type: "POST",
        url: "{% url 'coin:get_by_ajax' %}",
        data: {
            'target_coin': target_coin,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            $(".list").load("list");
            $(".detail").load(data.target_coin).setColor();
        },
        error: function(request, status, error) {
            console.log("실패");
        }
    });
}
setInterval('autoRefresh_div()', 5000);
*/
/* detail 페이지에서 ajax 통신 */
$(".coin_container").click(function() {
    var target_coin = $(this).find("p:first").text();
    $.ajax({
        type: "POST",
        url: "{% url 'coin:get_by_ajax' %}",
        data: {
            'target_coin': target_coin,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            //$(".list").load("."); 못했음 ㅜㅜ
            /* 클릭 시 코인, 트위터, 기사 새로고침 */
            $(".detail").load(data.target_coin)
            $(".twitter").load("../twitter/" + data.target_coin);
            $(".article").load("../article/" + data.target_coin);
        },
        error: function(request, status, error) {
            console.log("실패");
        }
    });
})
</script>
{% endblock %}