{% extends 'base.html' %}
{% load filters %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>edit profile</h4>
        </div>
    </div>
    <form method="post" class="post-form" name="dataForm">
        {% csrf_token %}
        {% if errormsg %}
        <div class="alert alert-danger">
            {{ errormsg }}
        </div>
        {% endif %}
        <div class="form-group">
            <label class="d-none" for="username">사용자 이름</label>
            <input type="hidden" class="form-control" name="username" id="username"
                   value="{{ user }}">
        </div>
        <div class="form-group">
            <label class="d-none" for="password1">비밀번호</label>
            <input type="hidden" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="d-none" for="password2">비밀번호 확인</label>
            <input type="hidden" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="d-none" for="email">이메일</label>
            <input type="hidden" class="form-control" name="email" id="email"
                   value="{{ user.email }}">
        </div>
        <div class="form-group">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseKRW">
                            KRW
                        </a>
                    </div>
                    <div class="collapse" id="collapseKRW" data-parent="#accordion">
                        <div class="card-body p-0">
                            {% for name in NAMELIST_KRW %}
                            {% if forloop.counter0|remainder:10 == 0%}
                            <div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
                                {% endif %}
                                <label style="width:auto;" class="btn btn-secondary text-white rounded-0">
                                    <input type="checkbox" name="namelist" value="{{ name|tuple0 }}">
                                    {{ name|tuple1 }}<br><small>{{ name|tuple0 }}</small>
                                </label>
                                {% if forloop.counter0|remainder:10 == 9 or forloop.last %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseBTC">
                            BTC
                        </a>
                    </div>
                    <div class="collapse" id="collapseBTC" data-parent="#accordion">
                        <div class="card-body p-0">
                            {% for name in NAMELIST_BTC %}
                            {% if forloop.counter0|remainder:10 == 0%}
                            <div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
                                {% endif %}
                                <label style="width:auto;" class="btn btn-secondary text-white rounded-0">
                                    <input type="checkbox" name="namelist" value="{{ name|tuple0 }}">
                                    {{ name|tuple1 }}<br><small>{{ name|tuple0 }}</small>
                                </label>
                                {% if forloop.counter0|remainder:10 == 9 or forloop.last %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseUSDT">
                            USDT
                        </a>
                    </div>
                    <div class="collapse" id="collapseUSDT" data-parent="#accordion">
                        <div class="card-body p-0">
                            {% for name in NAMELIST_USDT %}
                            {% if forloop.counter0|remainder:10 == 0%}
                            <div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
                                {% endif %}
                                <label style="width:auto;" class="btn btn-secondary text-white rounded-0">
                                    <input type="checkbox" name="namelist" value="{{ name|tuple0 }}">
                                    {{ name|tuple1 }}<br><small>{{ name|tuple0 }}</small>
                                </label>
                                {% if forloop.counter0|remainder:10 == 9 or forloop.last %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">edit</button>
    </form>
</div>
{% endblock %}

