<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Hello Crypto!</title>
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 10px!important;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1!important;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888!important;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555!important;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>